/*************************TAG SELECTOR*************************/

body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  color: #66bfa4;
  font-size: 5.2rem;
  /* 1em=100%=16px */
  margin: 2rem auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: #1ccfa3;
}



hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(112, 108, 108);
  border-width: 5px;
  width: 3%;
}

/*************************CLASS SELECTOR*************************/

/*************************CLOUD AND MOUNTAIN*************************/
.lo {
  text-decoration: underline;

}

.top-container {
  background-color: #ddf7e3;
  position: relative;
  padding-top: 100px;
}

.cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 110px;
}

.name {
  font-weight: normal;
  color: #66bfa4;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/*************************HI ROW*************************/


.mehran {
  width: 150px;
}

.intro {
  font-family: 'Dongle', sans-serif;
  padding: 0 300px 0 300px;
  text-align: center;
  font-size: larger;
}


/*************************DIV ROW*************************/
.hi {
  background-color: #ddf7e3;
  padding: 30px 0 30px 0;
}

.h2 {
  color: #289672;
}

/*************************2nd What to do*************************/

.Think {
  width: 150px;
  float: left;
  padding-left: 600px;
}

.nothing {
  font-size: large;
  color: #1ccfa3;
  font-family: 'Dancing Script', cursive;
  margin: 0;
  padding-bottom: 20px;
  text-align: start;
  padding-top: 10px;
}

/*************************3rd Devop*************************/

.text {
  font-family: 'Dongle', sans-serif;
  font-size: larger;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: start;
}

.lap {
  width: 170px;
  float: right;
  padding-right: 350px;
  padding-top: 40px;
}

.dev {
  font-size: large;
  color: #1ccfa3;
  font-family: 'Dancing Script', cursive;
  width: 600px;
  position: absolute;
  padding-top: 60px;
  display: inline-block;
  right: 573px;
}

.para {
  text-align: justify;
  font-family: 'Dongle', sans-serif;
  font-size: large;
  padding-top: 100px;
  display: inline-block;
  left: 400px;
  position: absolute;
}

/*************************Nav Bar*************************/

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 45px;
  background-color: #ddf7e3;
}

li {
  float: right;

}

li a {
  display: block;
  padding: 13px;
  text-decoration: none;
  color: #41644A;
  position: sticky;
  font-family: 'Maven Pro', sans-serif;
}

/*.Nav{
 background-color: #ddf7e3;
}*/
.active {
  background-color: #66bfa4;
}

li a:hover:not(.active) {
  background-color: #04AA6D;
}
.message{
  background-color: #2dce93 ;
  margin-top: 300px;
  margin-bottom: 100px;
  margin-left: 540px;
  display: inline-block;

}
.h1{
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 1.3rem;
  padding: 0px 10px 20px 20px;
}
